[general]
FullMachineName={{ full_machine_name }}
ConfigDirectoryAdminID={{ config_directory_admin_id }}
ConfigDirectoryAdminPwd={{ config_directory_admin_pw }}
SuiteSpotUserID={{ suite_spot_userid }}
SuiteSpotGroup={{suite_spot_group }}
ServerRoot={{ server_root }}

[slapd]
instance_name={{ instance_name }}
ServerIdentifier=instance_name
ServerPort={{ server_port }}
Suffix={{ suffix }}
RootDN={{ root_dn }}
RootDNPwd={{ root_dn_pw }}

[TPS]
pki_authdb_basedn={{ pki_authdb_basedn }}